@media (max-width: 850px) {
    .header__nav,.background__container{display: none;}
    .header__logo {height:calc(var(----header__logo-height)*.8)}
    .header__container {padding: calc(var(--header__container-padding)*.5) var(--container-padding)}
    .burger__line {width:45px;}
    .button-request{right: 50%;transform: translateX(50%);bottom: calc(var(--button-request-text)*3);}
}
@media (max-width: 768px) {
    .ai-section__column--visual{display: none;}
    .ai-section__column{width:50%;}
    .ai-section__column--human{border-left: none;}
    .ai-section__heading--human,.ai-section__text-group--human{padding-left:0;padding-right:var(--container-padding);}
    .ai-section__heading{ padding-bottom: 3em;margin-bottom:20px;padding-top:50px;}
    .ai-section__heading {font-size:calc(var(--ai-section__heading)*1.5);}
    .ai-section__title{font-size: calc(var(--ai-section__title)*1.5);}
    .ai-section__text-group{font-size: calc(var(--ai-section__text-group)*1.5);}
}
@media (max-width: 530px) {
    .hero-plus{height:105vh!important;}
    .promo__video{margin:-10vw 0;left:60%;z-index: -1; width:200vw;}
    .ai-section__heading {font-size:calc(var(--ai-section__heading)*1.2);}
    .ai-section__title{font-size: calc(var(--ai-section__title)*1.2);}
    .ai-section__text-group{font-size: calc(var(--ai-section__text-group)*1.2);}

}
@media (max-width: 430px) {
    .ai-section__heading {font-size:var(--ai-section__heading);}
    .ai-section__title{font-size:var(--ai-section__title);}
    .ai-section__text-group{font-size:var(--ai-section__text-group);}
}