/* @font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Medium.ttf') format('truetype');
} */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*,*::after,*::before{margin: 0;padding: 0;box-sizing: border-box;}
::-webkit-scrollbar {width: 0;height: 0;}
:root{  
    --container-padding:clamp(15px,2.6vw,50px);
    --header__container-padding:35px;
    --header__logo-height:45px;

    --index:calc(1vw + 1vh);
    --nav-text:18px;
    --hero__description-text:clamp(12px,1.25vw,24px);
    --button-request-text:clamp(12px,1.2vw,22px);
    --ai-section__heading:clamp(13px,2.18vw,42px);
    --ai-section__text-group:clamp(8px,1.125vw,18px);
    --ai-section__title:clamp(20px,3.125vw,60px);

    --black-background-color:#111111;
    --gray-color:#ACACAC;
    --black__gray-color:#555555;
    --pink-color:#FFD2D8;
    --polosa-color:rgba(255,255,255,.25);

    --ai-section__heading-marginTop:clamp(70px,15vh,160px);

    --offset-vw: 13vw;
}
body{background-color: var(--black-background-color);color: #fff;font-family: "Montserrat", sans-serif;caret-color: transparent;}



/* header----------------------------- */
.header {
    width: 100vw;
    position: fixed;
    z-index:10;
    background-color:var(--black-background-color);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
.header__container {
    padding: var(--header__container-padding) var(--container-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    height: var(----header__logo-height);
}
.header__nav {
    padding-left:15vw;
}
.header__list {
    display: flex;
    list-style: none;
}
.header__item {
    margin-right:1.8vw;
    font-size: var(--nav-text);
}
.header__item--blog{
    margin-left: 1.8vw;
}
.header__link {
    text-decoration: none;
    color:var(--gray-color);
    font-weight:400;
    position: relative;
    display: inline-block;
}
.header__link .gmail__underline, .header__link .tel__underline {
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #ACACAC;
  transform-origin: center;
}
.header__burger {
    display: flex;
    flex-direction: column;
    gap: 10px;
    float: right;
}
.burger__line {
    height: 1px;
    width:90px;
    background-color: #fff;
}






/* hero------------------------------- */
.hero {
    height: 100vh;
    position: relative;
    pointer-events: none;
}
.promo__video {
    position: absolute;
    left:50%;
    margin:-2vw 0;
    transform: translateX(-50%) rotate(-5deg);
    width:clamp(240px,25vw,475px);
    z-index:-1;
    object-fit: cover;
}

.hero__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hero__title{
    font-size:clamp(20px ,7.6vw , 160px);
    letter-spacing:-0.03em;
    font-weight: bold;
    line-height:100%;
    padding:0 var(--container-padding);
    padding-top:clamp(120px,10vw,200px);
}
.hero__title span{
    position: relative;
    z-index: 5;
}

.hero__description {
    padding:0 var(--container-padding);
    color:var(--pink-color);
    font-size:var(--hero__description-text);
    width:clamp(300px,30vw,600px);
}

.button-request {
    position: absolute;
    display: flex;
    align-items: center;
    width:clamp(180px,calc(3.125vw + 17vw),400px);
    padding:clamp(10px, 1.15vw, 22px) clamp(10px, 1.56vw, 30px);
    background-color: #fff;
    bottom:var(--container-padding);
    right:var(--container-padding);
    border: none;
    pointer-events: auto;
    color: var(--black-background-color);
}
.button-request__wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button-request-fake{
    position: absolute;
    width: 100%;
}
.button-request__inner{
    position: relative;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.button-request__text {
    font-weight: bold;
    font-size:var(--button-request-text);
}
.button-request__icon {
    width:clamp(10px,1vw,20px);
}
.background__container{
      display: flex;
      flex-wrap: wrap;
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      z-index: 0;
      pointer-events: auto;
      overflow: hidden;
    }

.square {
    width: 5vw;
    height: 5vw;
}

.hero__line {
    position: absolute;
    top:calc(clamp(120px,10vw,200px) / 2);
    left: var(--container-padding);
    z-index: -2;
}
.hero__line-krug {
    transform: translate(50% , 50%);
    width:clamp(6px,.6vw,12px);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--pink-color);
}
.line-krug-right{transform: translate(-50% , 50%);}
.hero__line-dots {
    display: flex;
    align-items: center;
    font-size:clamp(10px,1vw,20px);
    letter-spacing:0.65vw;
    color: var(--pink-color);
}









/* ai-section-------------------------------- */

.ai-section {
    position: relative;
    padding:0 var(--container-padding);
}
.ai-section__title {
    font-size:var(--ai-section__title);
    line-height:135%;
    font-weight:500;
    letter-spacing: -0.03em;
}
.word {
  display: inline-block;
  opacity: 0;
  transform: translate(-5px , 10px);
}
.ai-section__content {
    margin-top: 8vw;
    padding-top:2.5vw;
    display: flex;
    justify-content: space-between;
}
.ai-section__column {
    width: 33%;
}

.ai-section__column--human {
    border-left: 1px dashed var(--polosa-color);
    border-right: 1px dashed var(--polosa-color);
}
.ai-section__heading {
    padding-top: var(--ai-section__heading-marginTop);
    position: relative;
    padding-left:var(--container-padding);
    font-size:var(--ai-section__heading);
    font-weight:500;
    line-height:100%;
    letter-spacing: -0.03em;
    margin:0 0 clamp(90px,10.5vw,200px);
    background-image: linear-gradient(#000, #000 75%, #00000000);
    padding-bottom: 2em;
}
.ai-section__text-group {
    padding-left:var(--container-padding);
    font-size:var(--ai-section__text-group);
    line-height:150%;
    padding-bottom:4vw;
}
.ai-section__visual{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right:var(--container-padding);
    padding-left:0;
    font-size:clamp(0px,4.68vw,90px);
    
}
.ai-section__visual-table{
    font-size:.3em;
    color: var(--black__gray-color);
    position: absolute;
    left: 50%;
    padding-right:var(--container-padding);
    transform:translateX(-50%);
}
/* .visual-bodkki{
    position: absolute;
    transform: translateY(-25%);
} */
.ai-section__text {

}
.ai-section__column--ai {
}