/* @font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Medium.ttf') format('truetype');
} */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*,*::after,*::before{margin: 0;padding: 0;box-sizing: border-box; }
::-webkit-scrollbar {width: 0;height: 0;}
:root{  
    --container-padding:clamp(15px,2.6vw,50px);
    --header__container-padding:35px;
    --header__logo-height:49px;
    --header-height:calc(var(--header__container-padding)*2 + var(--header__logo-height));

    --index:calc(1vw + 1vh);
    --nav-text:18px;
    --hero__description-text:clamp(12px,1.25vw,24px);
    --button-request-text:clamp(12px,1.2vw,22px);
    --ai-section__heading:clamp(13px,2.18vw,42px);
    --ai-section__text-group:clamp(8px,1.125vw,18px);
    --ai-section__title:clamp(20px,3.125vw,60px);
    --osnova__title-h2: 6.85em;
    --work-steps__item-title-text:clamp(22px,1.875vw,36px);
    --work-steps__item-text:clamp(12px,1.1vw,21px);
    --about__subtitle-text:2.25em;
    --about__text:1.15em;
    --team__title_left-text:clamp(22px ,1.45vw, 28px);

    --black-background-color:#111111;
    --gray-color:#ACACAC;
    --black__gray-color:#555555;
    --pink-color:#FFD2D8;
    --polosa-color:rgba(255,255,255,.1);
    --footer-opacity-color:#808080;

    --ai-section__heading-marginTop:clamp(70px,15vh,160px);

    --offset-vw: 13vw;
}
body{background-color: var(--black-background-color);color: #fff;font-family: "Montserrat", sans-serif;caret-color: transparent;cursor: default;}
body {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}
::selection {
  background:var(--pink-color);
  color:  var(--black-background-color) ; 
}
.ai-section__heading ,.promo__video,.work-steps,.work-steps__item .img-wrapper img, .team__photo, .services__item,.invis img, .footer,.selection-system{will-change: transform;will-change: scroll-position;}
/* header----------------------------- */
.header {
    width: 100vw;
    position: fixed;
    z-index:10;
    background-color:var(--black-background-color);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

}
.header__container {
    padding: var(--header__container-padding) var(--container-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    height:var(--header__logo-height);
    width:var(--header__logo-height);
}
.header__logo path {
  transition: fill 0.5s, stroke 0.5s;
}
.header__logo:hover path {
    fill: var(--pink-color);
    stroke: var(--pink-color);
    cursor: pointer;
  }
.header__nav {
    padding-left:15vw;
}
.header__list {
    display: flex;
    list-style: none;
}
.header__item {
    margin-right:1.8vw;
    font-size: var(--nav-text);
}
.header__item--blog{
    margin-left: 1.8vw;
}
.header__link {
    text-decoration: none;
    color:var(--gray-color);
    font-weight:400;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.header__link .gmail__underline, .header__link .tel__underline {
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #ACACAC;
  transform-origin: center;
}
.header__burger {
    display: flex;
    flex-direction: column;
    gap: 10px;
    float: right;
}
.burger__line {
    height: 1px;
    width:90px;
    background-color: #fff;
}






/* hero------------------------------- */
.hero {
    height: 200vh;
    position: relative;
    pointer-events: none;
    overflow: hidden;
}
.promo__video {
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50% , -50%) scale(.3) translateZ(0);
    /* width:clamp(240px,25vw,475px); */
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
}


.hero__title{
    font-size:clamp(20px ,7.6vw , 160px);
    letter-spacing:-0.03em;
    font-weight: bold;
    line-height:100%;
    padding:0 var(--container-padding);
    padding-top:clamp(120px,10vw,200px);
    mix-blend-mode: difference;
}
.hero__title span{
    position: relative;
    z-index: 5;
}

.hero__description {
    padding:0 var(--container-padding);
    color:var(--pink-color);
    font-size:var(--hero__description-text);
    width:clamp(300px,30vw,600px);
}

.button-request {
    position: absolute;
    display: flex;
    align-items: center;
    width:clamp(180px,calc(3.125vw + 17vw),400px);
    padding:clamp(10px, 1.15vw, 22px) clamp(10px, 1.56vw, 30px);
    background-color: #fff;
    bottom:var(--container-padding);
    right:var(--container-padding);
    border: none;
    pointer-events: auto;
    color: var(--black-background-color);
    cursor: pointer;
}
.button-request__wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button-request-fake{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}
.button-request__inner{
    position: relative;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.button-request__text {
    font-weight: bold;
    font-size:var(--button-request-text);
}
.button-request__icon {
    width:clamp(10px,1vw,20px);
}
.background__container{
      display: flex;
      flex-wrap: wrap;
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      z-index: 0;
      pointer-events: auto;
      overflow: hidden;
    }
#background__container-manage{
      display: flex;
      flex-wrap: wrap;
      width: 100vw;
      height: 15vw;
      z-index: 1;
      pointer-events: auto;
      overflow: hidden;
    }
/* .square {
    width: 5vw;
    height: 5vw;
} */

.hero__line {
    position: absolute;
    top:calc(clamp(120px,10vw,200px) / 2);
    left: var(--container-padding);
    z-index: -3;
}
.hero__content{
    position: relative;
}
.hero__line-krug {
    transform: translate(50% , 50%);
    width:clamp(6px,.6vw,12px);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--pink-color);
}
.line-krug-right{transform: translate(-50% , 50%);}
.hero__line-dots {
    display: flex;
    align-items: center;
    font-size:clamp(10px,1vw,20px);
    letter-spacing:0.65vw;
    color: var(--pink-color);
}









/* ai-section-------------------------------- */

.ai-section {
    position: relative;
    height: 70vw;
}
.ai-section__title {
    font-size:var(--ai-section__title);
    line-height:135%;
    font-weight:500;
    letter-spacing: -0.03em;
    padding:10vh 0 calc(var(--index)*3) var(--container-padding);
}
.word {
  display: inline-block;
  opacity: 0;
  transform: translate(-5px , 10px);
}
.ai-section__content {
    /* padding-top:var(--header__logo-height); */
    display: flex;
    justify-content: space-between;
}
.ai-section__column {
    position: relative;
    width: 33.333%;
    background-color: #000;
}

.ai-section__column--human {
    border-left: 1px dashed var(--polosa-color);
    border-right: 1px dashed var(--polosa-color);
}
.ai-section__heading {
    position: sticky;
    top: 0;
    padding-top: var(--ai-section__heading-marginTop);
    background-image: linear-gradient(#000, #000 75%, #00000000);
    padding-bottom:8vh;
    display: flex;
    align-items: center;
    z-index:5;
    height:30vh;
}
.ai-section__heading-title{
    font-size:var(--ai-section__heading);
    font-weight:500;
    line-height:100%;
    letter-spacing: -0.03em;
}
.ai-section__image-icon{
    padding:0 calc(var(--container-padding) / 2);
    height: clamp(15px,2.6vw,50px);
}
.ai-section__text-group {
    /* margin-top:clamp(90px,10.5vw,200px); */
    margin-top: 50px;
    padding-left:var(--container-padding);
    font-size:var(--ai-section__text-group);
    line-height:200%;
    padding-bottom:4vw;
}

.ai-section__visual{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 var(--container-padding) 0 var(--container-padding)!important;
    padding-left:0;
    font-size:clamp(0px,4.68vw,90px);
    width: 100%;
    transform: translateY(-15px);
    display: none;
}
.ai-section__visual-table{
    font-size:.3em;
    color: var(--black__gray-color);
    position: absolute;
    left: 50%;
    padding-right:var(--container-padding);
    transform:translateX(-50%);
}
/* .visual-bodkki{
    position: absolute;
    transform: translateY(-25%);
} */
.ai-section__text-group--sr{
    padding-left:0!important;;
    text-align: center;
}
.ai-section__text-group--sr p{
    z-index: 5;
     color: #000;
}
.ai-section__text-group p {
  color: #555555;
  position: relative;
}
.ai-section__text-group--sr p:not(.active) {
  color: #000 !important;
}
.ai-section__text-group--human p.active,
.ai-section__text-group--ai p.active,
.ai-section__text-group--sr p.active {
  color: var(--pink-color);
}

/* Фон + линии для human */
.ai-section__text-group--human p.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50vw;
  width: 150vw;
  height: 100%;
  background-color: #111111;
  z-index: -2;
}

.ai-section__text-group--human p.active::after {
  content: "";
  position: absolute;
  top: 0;
  left: -50vw;
  width: 150vw;
  height: 1px;
  background-color: var(--polosa-color);
  box-shadow: 0 100% 0 var(--polosa-color); /* нижняя линия */
  z-index: 1;
}

/* work-steps----------------------------------- */
.work-steps {
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.work-steps__content {
    display: flex;
    height: 100%;
}
.work-steps__item {
    width:25vw;
    height:30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin:1px -1px 0 0; */
    border:1px solid var(--polosa-color);
    position: relative;
    background-color: #000;
    z-index: 2;
}
.work-steps__item-block {
    padding:0 calc(var(--container-padding) /2 );
}
.work-steps__item-title {
    font-size: var(--work-steps__item-title-text);
    font-weight:500;
    line-height: 100%;
}
.work-steps__item-text {
    padding-top: 1.7vh;
    font-size:var(--work-steps__item-text);
    color: var(--black__gray-color);
    line-height: 120%;
}
.work-steps__item-num{
    font-size: clamp(14px,1.45vw,28px);
    color: var(--black__gray-color);
    position: absolute;
    top:1vw;
    right:1vw;
    font-weight:500;
}
.work-steps__items{height: 100%;overflow: hidden;}
.work__block-blur {
    width: 100%;
}
.work__block-blur div {
  width: 100%;
}
.work-steps-h2 {
    position: absolute;
    bottom: 0;
    z-index: 5;
    color:#fff;
    line-height:90%;
    letter-spacing:-0.10em;
    font-size:81px;
    padding:calc(var(--container-padding) /2);
}

.work__block-blur .color-1 {height: 15vh; background-color: #070707; }
.work__block-blur .color-2 { height: 15vh; background-color: #101010; }
.work__block-blur .color-3 { height: 15vh; background-color: #131313; }
.work__block-blur .color-4 { height: 15vh; background-color: #161616; }
.work__block-blur .color-5 { height: 70vh; background-color: #191919; }


.work-steps__content .work-steps__items:nth-child(1) {margin-top:var(--header-height);}
.work-steps__content .work-steps__items:nth-child(2){margin-top:calc(var(--header-height) + 30vh);}
.work-steps__content .work-steps__items:nth-child(3) {margin-top:calc(var(--header-height) + 15vh);}
.work-steps__content .work-steps__items:nth-child(4) {margin-top:calc(var(--header-height) + 45vh);}
/* team -------------------- */
.team {
    height:100vh;
    width: 100%;
}
.team__title-wrapper {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-left: var(--container-padding);
    margin-bottom:5vh;
}
.team__square {
    width:8px;
    height: 8px;
    background-color: #fff;
    margin-right:12px;
    transform: translateY(25%);
}
.team__title {
    font-size: var(--team__title_left-text);
    font-weight: 500;
}
.team__list {
    display: flex;
    justify-content: space-between;
    padding-left:var(--container-padding);
    position: relative;
}
.team__member {
    width:calc(25% - calc(var(--container-padding) / 1.5));
    /* filter: grayscale(100%) blur(0px); */
}
.team__member--block-blur{
    width: 25vw;
    height: 0vh;
    right: 0;
    /* background-color: #050505; */
    position: absolute;
}
.team__photo-block {
    height: 65vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: end;
}
.team__photo {
    position: absolute;
     height: 130%;
       width: 100%;
    object-fit: cover;
     
}
/* .team__photo:hover{
    filter: grayscale(0%);
} */
.team__name {
    margin-top: calc(var(--container-padding) /2);
    font-size: clamp(18px,1.6vw,32px);
    font-weight:500;
}
.team__position {
    font-size: clamp(12px,1.15vw,22px);
    font-weight:400;
}

.h2__title{
    font-size:var(--osnova__title-h2);
    line-height:90%;
    font-weight:600;
}


/* about ---------------------------------------- */
.about__block {
    height: 50vh;
    display: flex;
    justify-content: space-between;
}
.about__section {
    /* border: 1px solid var(--polosa-color); */
    width: 60vw;
}
.about__first-block{
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0 var(--container-padding);
}
.about__text {
    padding-top:var(--container-padding);
    font-size: var(--about__text);
    height: 80%;
    line-height:140%;
}
.about__text--last-block{
    padding: 0 var(--container-padding);
}
.about__section--info {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.about__subsection {
    padding:0 var(--container-padding);
    width: 50%;
    height: 80%;
}
.about__subtitle {
    font-size:var(--about__subtitle-text);
    font-weight: 600;
}
.about__block--benefits {
    height: 35vh;
}

.about-mobile{display: none;}
.about-mobile__title {
    font-size:60px;
    line-height: 90%;
    letter-spacing:-0.05em;
    font-weight: 600;
    padding:calc(var(--container-padding)*2) var(--container-padding);
}
.about-mobile__subtitle {
    font-size:20px;
    font-weight: 500;
    color: var(--gray-color);
}
.about-mobile__subtitle-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:calc(var(--container-padding)*1.5) var(--container-padding);
    border: 1px solid var(--polosa-color);
}
.about-mobile__content {
    overflow: hidden;
  height: 0;
}
.about-mobile__text {
    padding:var(--container-padding);
    border-bottom:1px solid var(--polosa-color);
    line-height:140%;
}










/* .services-----------------------------------*/


.services {
    height:100%;
}
.services__container {
}
.services__header {
    display: flex;
    align-items: end;
    justify-content: space-between;
    border-bottom: 1px solid var(--polosa-color);
    padding:15px;
}
.services__title,.services__tag{
    font-size:var(--team__title_left-text);
    font-weight: 400;

}
.services__tag {
     font-weight:300;
}
.services__items-block{
    height:10vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.services__items-block,
.services__items-block * {
    cursor: pointer;
}
.services__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px var(--container-padding);
    border-bottom: 1px solid var(--polosa-color);
    height:10vh;
    transform: translateY(-200%);
    background-color: #000;
}
.services__item-title,.services__item-link {
     font-size: 69px;
     letter-spacing:-0.03em;
     font-weight:500;
}
.serv-color-item{
    background-color: var(--polosa-color);
    color: var(--pink-color);
}
.invis {
    position: fixed;
    right:15px;
    bottom:15px;
    z-index: 9;
}
.invis img{
    height:50vh;
    width:42vh;
    top: 50%;
    left: 50%;
    transform-origin: center center;
    position: absolute;
    transform: translate(-100%, -100%) scale(0);
}









/* models-section-------------- */
.models-section {
    height: 100%;
    margin-top:calc(var(--container-padding)*2);
    }

    .models-section__title {
      text-align: center;
      font-size: var(--team__title_left-text);
      font-weight: 500;
      margin-bottom: 20px;
    }

    .models-grid {
      width: 55vw;
      height: 55vh;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 10px;
      padding: 10px;
      box-sizing: border-box;
    }

    .models-grid__item {
      display: flex;
      align-items: center;
   
    }

    .models-grid__image {
      width: 30px;
      height: 30px;
      object-fit: contain;
      margin-right:15px;
    }

    .models-grid__caption {
      font-size: 22px;
      font-weight: 600;
      line-height:120%;
    }


    .block-img{
        padding:0 var(--container-padding);
        margin-top:var(--container-padding);
        height: 80vh;
        width:calc(100% - var(--container-padding));
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: end;
        background-color: #000;
    }


.block-img img{
    position: absolute;
    height: 125%;
    width: 100%;
    object-fit: cover;
    opacity: .35;
    transition: opacity 1s, filter 1s;
    filter: blur(10px);
}
.block-img img:hover{
     opacity: 1;
     filter: blur(0px);
}





.reviews {
    position: relative;
    z-index: 10;
    margin-top: 250px;
    padding-bottom: 150px;
    border-bottom: 1px solid var(--polosa-color);
    background-color: #000;
}
.reviews__title {
    font-size: 60px;
    line-height: 100%;
    font-weight: 600;
    padding-left:var(--container-padding);
    width: 1150px;
}
.reviews__text-osn {
    font-size: 28px;
    font-weight: 500;
    line-height: 110%;
    color: var(--black__gray-color);
    padding-left: var(--container-padding);
    margin:26px 0 115px;
    width: 1050px;
}
.reviews__viewport {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.reviews__track {
 display: flex;
 align-items: center;
  flex-wrap: nowrap;      
  gap: 0;               
  cursor: grab;
}

.reviews__track:active {
  cursor: grabbing;
}

.reviews__item {
   flex: 0 0 20vw; 
  box-sizing: border-box;
  background-color:rgba(239, 238, 236, 2.88%);
  border: 1px solid rgba(100, 100, 100, 50%);
  border-radius: 24px;
  margin:0 1vw;
  user-select: none;
  /* transition: opacity .05s; */
}

.reviews__text {
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    margin:calc(var(--container-padding)/2) 0 15px;
    padding: 0 calc(var(--container-padding)/2);
}
.reviews__item {
  user-select: none;
  -webkit-user-select: none; /* Для Safari */
  -moz-user-select: none;    /* Для Firefox */
  -ms-user-select: none;     /* Для IE/Edge */
}

.reviews__author {
    display: flex;
    align-items: center;
    padding-bottom:calc(var(--container-padding)/2);
}
.reviews__photo {
    width:55px;
    margin:0 calc(var(--container-padding)/2);
}
.reviews__name {
    line-height: 120%;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    white-space: pre-line;
    width: 25%;
}




.footer {
    /* transform: translateY(-70vh); */
    padding-top:50px;
    height:70vh;
}

.footer__title {
    font-size:56px;
    font-weight:500;
    margin-left:150px;
}
.footer__block {
    position: relative;
    display: flex;
    padding:var(--container-padding);
}
.footer__column {
}
.footer__column--info {
    width: 40vw;
    position: relative;
}
.ft-t{
    font-size: 16px;
    font-weight:400;
    line-height:140%;
}
.footer__text {
    width:28.5vw;
}
.footer__contacts {
     margin-top:var(--container-padding);
}
.footer__link {
    text-decoration: none;
    font-weight: 400;
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #fff;
}
.footer__link-num{
    margin-top:10px;
}
.footer__link-email:hover .footer__underline--email {
    width: 0%;
}
.footer__link-num:hover .footer__underline--phone {
    width: 0%;
}

.footer__underline {
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #ACACAC;
    transform-origin: center;
    transition: width 0.3s ease;
}
.footer__underline--email {
}
.footer__underline--phone {
}
.footer__social {
    display: flex;
    align-items: center;
    position: absolute;
    /* bottom:var(--container-padding); */
    bottom: 0;
}
.footer__social-link {
    margin-right:calc(var(--container-padding)/2);
}
.footer__social-link  img{
    width:29px;
}
.footer__form {
}
.footer__label {
}
.footer__input {
}
.footer__column--license {
    color:var(--footer-opacity-color);
    position: relative;
}
.footer__license {
    margin-top:calc(var(--container-padding) / 2 + 26px) ;
    width:20vw;
    padding-left:calc(var(--container-padding)/2);
}
.footer__button {
    bottom:0;
    left:calc(var(--container-padding) / 2);
}
.footer__column--form {
  width:40vw;
  border-radius: 8px;
}
.footer__form {
  display: flex;
  flex-direction: column;
}
.footer__label {
  color: #FFFFFF;
  font-size: 14px;
  margin:calc(var(--container-padding)/2) 0 8px;
  display: block;
}

.footer__input,
.footer__form textarea {
  width: 100%;
  height:var(--container-padding);
  background-color: #1E1E1E;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  color: #FFFFFF;
  outline: none;
  transition: border-color .2s;
  line-height: 1.4;
  padding-left:8px;
  font-weight: 500;
  caret-color: var(--black__gray-color);
}

.footer__input-big{
    padding:8px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400!important;
    resize: none !important;
    border-radius:8px 8px 0px 8px!important;
}
.footer__input::placeholder,
.footer__form textarea::placeholder {
  color: #AAAAAA;
}
.footer__form textarea {
  resize: vertical;
  min-height:calc(var(--container-padding)*3);
}
.footer__input:-webkit-autofill,
.footer__input:-webkit-autofill:focus {
  -webkit-text-fill-color: #FFFFFF;
  -webkit-box-shadow: 0 0 0 1000px #1E1E1E inset;
  box-shadow: 0 0 0 1000px #1E1E1E inset;
  transition: background-color 5000s ease-in-out 0s;
}
.footer__input:-moz-autofill,
.footer__input:-moz-autofill:focus {
  box-shadow: 0 0 0px 1000px #1E1E1E inset;
  -moz-text-fill-color: #FFFFFF;
}
.footer__button .button-request__wrapper{
    justify-content: center;
}
.footer__button{
    width:calc(100% - calc(var(--container-padding) / 2));
}

.large-header {
	position: absolute;
    height: 100vh;
	width: 100%;
	/* background: #000; */
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: -1;
}
 #demo-canvas {
      display: block;
    }
